body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}


.message{
    width: 600px;
    margin: 7px auto;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}
.message-info{
    color:#5D5AAE;
    background-color: #CDDEFF;

}

.message-success{
    color: #408F61;
background-color: #CFF4DA;
}
.message-warning{
    color: #AC9E45;
background-color: #FCFBC9;
}

.message-error{
    color:#933249;
    background-color: #FBD3D7;
}